.section-project-cards {
  width: 100%;
  min-height: auto;
  background-color: var(--primary-dark);
  display: flex;
  color: white;
  flex-direction: column;
  text-align: center;
}
.projects .projectTitle {
  text-align: center;
  color: #3e497a;
  font-size: 60px;
  font-weight: bolder;
}

.projectList {
  max-width: 1100px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-gap: 50px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: auto;
  padding-bottom: 5rem;
}

img {
  width: 100%;
  height: 100%;
}

/* MENU ITEM STYLING */

.projectItem {
  max-width: 550px;
  max-height: 350px;
  height: 100%;
  width: 100%;
  transition: transform 0.2s;
}
.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in;
  cursor: pointer;
  transform: scale(1.1);
}

.projectItem-content-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.project-heading {
  /* margin: clamp(6rem, 2.5vw, 5rem) */
  margin-top: 6rem;
  margin-bottom: 1rem;
  text-align: center;
}

.project-heading h1 {
  font-size: clamp(1.5rem, 2vw, 2rem);
}

.project-title {
  padding: 1rem;
}

.project-filter-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10rem;
  margin-bottom: 2rem;
}

.project-filter-buttons{
 border: none;
 background: none;
 color: var(--primary-color);
 font-size: clamp(0.8rem, 2vw, 1rem);
 letter-spacing: 1px;
 cursor: pointer;
}

.filter-buttons {

  font-size: clamp(0.8rem, 2vw, 1rem);
  }

.filter-buttons-active {
text-decoration: underline;
text-underline-offset: 5px;
color: var(--tertiary);
font-size: clamp(0.8rem, 2vw, 1rem);
}

.toggle-on {
text-decoration: underline;
}





.bgImage {
  width: 100%;
  height: 100%;
}

.projectItem h1 {
  font-size: 25px;
}

@media only screen and (max-width: 1100px) {
  .projectList {
    grid-template-columns: 1fr;
  }

  .project-heading {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 574px) {
  .project-filter-buttons{
    gap: 3rem;
  }

  .project-heading {
    margin-bottom: 1.5rem;
  }
}
  


@media only screen and (max-width: 390px) {
  .project-filter-buttons{
    gap: 4rem;
  }
  
}

