.section-home-container {
  height: 100vh;
  background-color: var(--primary-dark);
  position: relative;
}

.content-wrapper {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-dark);
  color: white;
  margin: 0 auto;
}

.social-container {
  width: 100%;
  right: 0;
  position: absolute;
  bottom: 10px;
}
